rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /publication-assets/{userId}/{fileName} {
      allow read: if request.auth != null
                  && request.auth.uid == userId;

      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.size <= 400 * 1024 * 1024
                    && request.resource.contentType.matches('video/.*');

      allow update: if false;

      allow delete: if request.auth != null
                    && request.auth.uid == userId;
    }
  }
}
